html, body, div {
	margin: 0;
	padding: 0;
}



.tester { 
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #FF0000;
}


.banner-container {

	background-color: "#FF0000";
    box-shadow:inset 0px 0px 0px 1px #f00;
    overflow:hidden;
    position:relative;
}  

